[submodule "android-toolkit"]
	path = android-toolkit
	url = git@github.com:ForceTower/android-toolkit.git
[submodule "android-instagram-wrapper"]
	path = android-instagram-wrapper
	url = git@github.com:ForceTower/android-instagram-wrapper.git
